body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f5f0f0;
    font-family: Arial, Helvetica, sans-serif;
    
}

.calculator {
    background: #dfc4c4;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(2, 18, 22, 0.938);
}

#display {
    width: 100%;
    height: 90px;
    margin-bottom: 25px;
    font-size: 25px;
    text-align: center;
    padding-top: 10px;
    border: none;
    border-radius: 10px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 70px);
    gap: 10px;
}

button {
    width: 70px;
    height: 70px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background: #585757;
    color: white;
    transition: 0.2s;
}

button:hover {
    background: #a7a4a4;
}

.equal {
    background: #f39c12;
}

.equal:hover {
    background: #f8c99f;
}

.zero {
    grid-column: span 2;
}
